---
interface Props {
    frontmatter: {
	    title: string;
    }
}

const { frontmatter: {title} } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="grid grid-cols-12 h-[95vh] overflow-auto items-start">
			<article class="article m-auto px-4 container col-span-10">
				<h1>{title}</h1>
				<slot />
			</article>
			<nav class="flex flex-col gap-2 col-span-2 sticky top-0 ml-4">
				<a href="/AltoClef-site/docs" class="link hover:text-primary">Home</a>
				<a href="/AltoClef-site/docs/APIThingsToKnow" class="link text-primary pointer-events-none cursor-not-allowed">API Things To Know</a>
				<a href="/AltoClef-site" class="link hover:text-primary">Back</a>
			</nav>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-dark)) 30%,
			black 60%
		);
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body {
		padding: 0;
		margin: 0;
	}
	a {
		@apply link hover:text-primary;
	}
	code {
		@apply mb-4 bg-[#656c7633] p-2 rounded-lg;
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	h1 {
		@apply mb-4 text-4xl font-semibold;
	}
	h2 {
		@apply mb-4 text-3xl font-semibold;
	}
	h3 {
		@apply mb-4 text-2xl font-semibold;
	}
	p {
		@apply mb-4;
	}
	pre {
		@apply mb-4 bg-[#151b23] px-3 py-4 rounded-box;
		line-height: 1.45;
	}
	pre code {
		@apply mb-0 bg-transparent p-0 rounded-lg;
	}
	ol {
		@apply list-decimal ml-12 mb-4;
	}
	li {
		@apply mb-4;
	}
	ul {
		@apply list-disc ml-8 mb-4;
	}
</style>
